.form__set {
  border-style: none;
  padding: 0 0 32px;
  margin: 0%;
  /* display: block; */
}

.form__label {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* display: block; */
  margin: 0%;
  /* padding-top: 32px; */
}

.form__item {
  height: 60px;
  width: 100%;
  padding: 20px 15px;
  /* display: block; */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 8px;
  margin-bottom: 32px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.button {
  max-width: 385px;
  width: 100%;
  height: 60px;
  display: flex;
  margin: 32px 0;
  justify-content: center;
  align-items: center;
  background-color: #2f80ed;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__checkbox {
  border-radius: 2px;
  /* visibility: hidden; */
}

.form__label-checkbox {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}
