.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0;
}

.header {
  background-image: url("../images/background_header.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ffffff;
  /* padding: 100px 0 140px; */
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  /* padding: 30px 80px 40px; */
  position: relative;
  box-sizing: border-box;
  justify-content: space-between;
}

.header__content {
  display: flex;
  justify-content: space-between;
  padding-left: 80px;
}

.header__title {
  max-width: 709px;
  padding-top: 183px;
}

.header-top {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: relative;
  top: 30px;
  left: 30px;
  width: 105px;
  height: 39px;
}

.nav__links {
  display: flex;
  list-style-type: none;
  column-gap: 20px;
  margin: 8px 0 0;
  padding-top: 30px;
  padding-right: 80px;
  gap: 20px;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.accent {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}

.linea-2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  right: 0;
}

.header__description {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
}

.header__footer {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-top: auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.footer-timetable {
  margin: 0 auto;
  position: absolute;
  bottom: 40px;
  left: 80px;
}

.footer-address {
  position: absolute;
  bottom: 40px;
  right: 80px;
  margin: 0 auto;
}

.recipes {
  background-image: url("../images/background_recipes.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #0a2850;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
}

.recipes {
  color: #ffffff;
  /* display: flex;
  position: relative; */
}
.recipes__title {
  max-width: 580px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  padding-right: 80px;
}

.recipes__subtitle {
  max-width: 438px;
  padding-top: 24px;
  padding-right: 80px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 0;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding-top: 80px;
}

.iframe {
  border: none;
  width: 480px;
  height: 273px;
}

.recipes__video-caption {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
